{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SoCo Football Shop</title>
    
    {% block meta %}
    {% endblock meta %}

    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="stylesheet" href="{% static 'css/global.css' %}"/>
  </head>
  <body class="bg-gray-100 flex flex-col min-h-screen">

    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}

    <main class="container mx-auto p-4 relative z-0 flex-grow">
      {% block content %} 
      {% endblock content %}
    </main>

    <footer class="mt-auto py-6 border-t border-gray-200 bg-white">
        <div class="container mx-auto text-center text-gray-500 text-sm">
            &copy; {% now "Y" %} SoCo Football Shop. All Rights Reserved.
        </div>
    </footer>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");
    
      if (btn && menu) {
        btn.addEventListener("click", () => {
          menu.classList.toggle("hidden");
        });
      }

      const userMenuButton = document.querySelector("#user-menu-button");
      const userMenu = document.querySelector("#user-menu");

      if (userMenuButton && userMenu) {
        userMenuButton.addEventListener("click", () => {
          userMenu.classList.toggle("hidden");
        });

        // Opsional: Menutup dropdown saat mengklik di luar area
        document.addEventListener('click', function(event) {
          const isClickInside = userMenuButton.contains(event.target) || userMenu.contains(event.target);
          if (!isClickInside) {
            userMenu.classList.add('hidden');
          }
        });
      }
    </script>
    </body>
</html>